:root {
    background-color: #0B0B0A;

    --color-dark-red: #982649;
    --color-light-red: #D75B80;
    --color-purple: #9489D1;
    --color-dark-gray: #7C8483;
    --color-light-gray: #CFCFC9;
    --color-blue-gray: #71A2B6;
    --color-highlight: #EDB88B;
    --color-light-blue: #97BCD8;
}

em { color: var(--color-highlight); font-style: normal; }
spacer { margin-top:12rem; }

p { color:var(--color-light-gray); }
li { color:var(--color-dark-gray); }
a { color:var(--color-purple); text-decoration: underline; }
a:hover { 
    font-weight:900; 
    color:var(--color-purple); 
    text-decoration: underline; 
}

h1:not(:first-of-type) {  margin-top:12rem; }
h2 {  margin-top:6rem; }
h3 {  margin-top:2rem; }
h4 {  margin-top:2rem; }

h1 { color:var(--color-light-gray); }
h2 { font-weight:700; color:var(--color-light-gray); }
h3 { font-weight:700; color:var(--color-light-blue); }
h4 { font-weight:800; color:var(--color-dark-red); }
